<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<title>Home page</title>
<head>
    <meta content="text/html;charset=UTF-8" />
    <title>ITP My Holding</title>
    <style>
        h1 {
          text-align: center
        }
        h2 {
           text-align: center
        }
        a {
           text-align: center;
           font-size: 20px;
           font-family: Verdana;
           font-weight:normal;
           border-bottom:none;
           text-decoration:none
        }
        b1 {
           font-size: 30px;
           font-family: Verdana;
           font-weight:normal
        }
    </style>
    <h1>
        <b1>Auto Buy or Sell triggered</b1>
    </h1>

    <br>
    <h2><a href="/stock/home" class="block">Back to Home</a></h2>
</head>